@import "_variables.scss";
@import "header.scss";
@import "profile.scss";

body {
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: $text;
  background: $background-main;
  h1, h2, h3 {
    margin-top: 1em;
    padding-top: 1em;
    color: $headings;
  }
}


.card-detail {
  float: left;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}
.card-info {
  float: left;
  background-image: url('../../assets/clowcard_info.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  min-height: 100vh;
  width: 50%;
  min-width: 22rem;
  margin: 0 auto;
  &:after {
    clear: both;
    content: '';
    display: block;
  }
  ul {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 22rem;
  }
  li {
    margin-top: 25%;
    list-style-type: none;
    width: 50%;
    font-size: 1.1em;
    .card-data {
      margin: 30% 0;
    }

  }
}
