@import "_variables.scss";
@import "header.scss";
@import "profile.scss";
@import "cardList.scss";
@import "cardDetail.scss";
@import "forms.scss";

body {
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: $text;
  background: $background-main;
  h2, h3 {
    margin-top: 1em;
    padding-top: 1em;
    color: $headings;
  }
}
